{% extends "aldryn_newsblog/fullwidth.html" %}
{% load i18n cms_tags apphooks_config_tags thumbnail %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}
{% block css_block %}
    <meta name="keywords" content="{{ article.meta_keywords }}">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ article.meta_title }}">
    <meta property="og:description" content="{{ article.meta_description }}">  
    <meta property="og:site_name" content="Traverse Pakistan" />
    <meta property="article:section" content=" {{article.categories.all}}" />
    
    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ article.meta_title }}">
    <meta name="twitter:description" content="{{ article.meta_description }}">
    {% if article.featured_image_id %}
    <meta name="twitter:image" content="http://www.traversepakistan.com{% thumbnail article.featured_image.image 800x450 crop subject_location=article.featured_image.subject_location %}">
    <meta property="og:image" content="http://www.traversepakistan.com{% thumbnail article.featured_image.image 800x450 crop subject_location=article.featured_image.subject_location %}" >
    <link href="/static/css/base.css" rel="stylesheet">
    <style>
        #cover {
            -webkit-box-shadow: inset 0 0 200px 70px #ffffff;
            -moz-box-shadow: inset 0 0 200px 70px #ffffff;
            box-shadow: inset 0 0 200px 70px #ffffff;
            margin-top: 80px;
        }
    </style>
    {% endif %}
{% endblock %}
{% block newsblog_content %}
    {% render_placeholder view.config.placeholder_detail_top %}
    <div class="aldryn-newsblog-detail">
        {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}
    </div>
    {% render_placeholder view.config.placeholder_detail_bottom %}
{% endblock %}

{% block newsblog_footer %}
    <div class="aldryn-newsblog-pager">
        <ul class="pager">
            {% if prev_article %}
                <li class="previous"><a href="{{ prev_article.get_absolute_url }}"><span aria-hidden="true">&larr;</span> {% trans "Previous Article" %}</a></li>
            {% else %}
                <li class="previous"><span class="text-muted"><span aria-hidden="true">&larr;</span> {% trans "Previous Article" %}</span></li>
            {% endif %}
            <li><span class="pager-back">– <a href="{% namespace_url "article-list" %}">{% trans "Back to Overview" %}</a> –</span></li>
            {% if next_article %}
                <li class="next"><a href="{{ next_article.get_absolute_url }}">{% trans "Next Article" %} <span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
                <li class="next"><span class="text-muted">{% trans "Next Article" %} <span aria-hidden="true">&rarr;</span></span></li>
            {% endif %}
        </ul>
    </div>
    {% render_placeholder view.config.placeholder_detail_footer %}
{% endblock %}
