{% extends "aldryn_newsblog/two_column.html" %}
{% load i18n cms_tags %}


{% block newsblog_content %}
    
    {% render_placeholder view.config.list_view_placeholder language placeholder_language %}

    <div class="aldryn-newsblog-list">
        {% for article in article_list %}
            {% include "aldryn_newsblog/includes/article.html" %}
        {% empty %}
            <p class="well">{% trans "No items available" %}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block newsblog_footer %}
    <div class="aldryn-newsblog-pagination">
        {% include "aldryn_newsblog/includes/pagination.html" %}
    </div>
{% endblock %}
