{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags %}
{% block css_block %}
    <link href="/static/css/base.css" rel="stylesheet">
    <style>

        #place_title {
            margin-top: 120px;
        }

        #cover {
            -webkit-box-shadow: inset 0 0 200px 70px #ffffff;
            -moz-box-shadow: inset 0 0 200px 70px #ffffff;
            box-shadow: inset 0 0 200px 70px #ffffff;
            margin-top: 150px;
        }

    </style>
{% endblock %}
{% block content %}
    <div id="cover" class="intro-section">
        <div class="container">
            <ol class="breadcrumb">
                <li class="child"><a class="color-green" href="/en/">Home</a></li>
                <li class="child active">Blog</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-17">
                {% if view.show_header %}
                    {% render_placeholder view.config.placeholder_base_top %}
                {% endif %}
                <div class="aldryn aldryn-newsblog">
                    {% block newsblog_title %}{% endblock %}
                    {% block newsblog_content %}{% endblock %}
                    {% block newsblog_footer %}{% endblock %}
                </div>
            </div>
            <div class="col-md-7 aldryn-newsblog aldryn-newsblog-sidebar">
                {% render_placeholder view.config.placeholder_base_sidebar %}
                {% block newsblog_sidebar %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
