<div class="gplus-this">
    <div class="g-plus" data-action="share" data-annotation="bubble" data-height="34">
    </div>
<!--    <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> {{link_text}}</a>-->
</div>
<!-- Google+ -->

