
.buttons-fill button, .buttons-fill > div {
    width: 100%;
}

#deals button {
    font-weight: bold;
}

#deals {
    background: url(/media/covers/home_cover.jpg) center center no-repeat;
}

#places-form .buttons-fill {
    padding: 5px;
}

#deals h1 {
    margin-top: 180px;
    margin-bottom: 80px;
    text-shadow: 3px 3px 3px #000;
}

#deals h4 {
    text-shadow: 1px 1px 2px #000;
}

#places-form {
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
    margin-bottom: 150px;
}

.grid {
    margin: -1%;
}
