.aldryn-newsblog-article-search .results-list .unpublished,
.aldryn-newsblog-article.unpublished {
    background: #f9fcee url('../../img/aldryn_newsblog/unpublished.png') repeat; /* hsl(44, 70%, 97%) */
}

.aldryn-newsblog-article-search .results-list .future,
.aldryn-newsblog-article.future {
    background: #eefcfc url('../../img/aldryn_newsblog/future.png') repeat; /* hsl(181, 70%, 96%) */
}

.breadcrumb {
  padding: 8px 0;
  margin-bottom: 28px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}
.color-green{
    color: #1abc9c
}
body{
  font-size: 18px;
  line-height: 1.42857143;
}