{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load analytical %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Traverse Pakistan is your one stop platform for everything related to tourism in Pakistan">
    <meta property="fb:app_id" content="738066149622840">

    <title> {% block title %} {% endblock %} </title>
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico"%}"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="{% static "css/scrolling-nav.css" %}" rel="stylesheet">
    {% block css_block %} {% endblock %}
    {% render_block "css" %}
    {% analytical_head_bottom %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="fb-root"></div>
    <div id="twitter-wjs"></div>
    {% analytical_body_top %}
    {% cms_toolbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if request.get_full_path = "/en/" or request.get_full_path = "/en/#page-top" %}
                <a class="navbar-brand page-scroll" href="#page-top">
                    <div></div>
                </a>
            {% else %}
                <a class="navbar-brand page-scroll" href="/#page-top">
                    <div></div>
                </a>
            {% endif %}
            
            
        </div>

        <div class="pills-container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% show_menu 0 1 100 100 "menu.html" %}
<!--                    {% block navbar_listitems %} {% endblock %}-->
                </ul>
            </div>
        </div>
        
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login to Traverse Pakistan</h4>
      </div>
      <div class="modal-body">
        <h2>Get Started</h2>
Sign up for a personalized experience - find new places, add destinations to lists and more
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a class="btn btn-primary" href="{% url "socialauth_begin" "facebook" %}">Login with Facebook</a>
      </div>
    </div>
  </div>
</div>

{% block content %}{% endblock content %}
{% block sections %} {% endblock sections %}

<!-- Contact Section -->
<section id="contact" class="bg-white">
    <div class="container">
        <div class="text-center row">
            <h1>Follow Us!</h1>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-2">
                <a target="_blank" href="https://www.facebook.com/traversepakistan">
                    <div class="img-div" id="connect-fb"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://twitter.com/traversepak">
                    <div class="img-div" id="connect-tw"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://instagram.com/traversepakistan">
                    <div class="img-div" id="connect-ig"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://www.pinterest.com/traversepak/">
                    <div class="img-div" id="connect-pt"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://plus.google.com/u/0/109713494126508544116/posts">
                    <div class="img-div" id="connect-gp"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://vimeo.com/traversepakistan">
                    <div class="img-div" id="connect-vm"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://www.linkedin.com/company/traverse-pakistan">
                    <div class="img-div" id="connect-li"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://www.youtube.com/channel/UC_xB83EQ1neT7YQvkKabMeg">
                    <div class="img-div" id="connect-yt"></div>
                </a>
            </div>
        </div>

    </div>
</section>
<section class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 pull-left">
                <img width="50%" alt="Traverse Pakistan" src="{% static "images/logo_white_text.png" %}"/>
                <br/>
                <small>Copyright &copy; 2015 Traverse Pakistan</small>
            </div>

            <div class="col-sm-8" style="text-align: right;">
                <h4 class="pull-right">
                    Build in <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> with Pakistan<br/>
                    info@traversepakistan.com<br/>
                    Explore the unexplored with Traverse Pakistan
                </h4>
            </div>
        </div>
    </div>
</section>
<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=738066149622840";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://platform.twitter.com/widgets.js">   
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="{% static "js/scrolling-nav.js" %}"></script>
<script>
    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });
</script>
{% block script_block %} {% endblock %}
{% render_block "js" %}
    {% analytical_body_bottom %}
</body>

</html>
