{% load i18n menu_tags cache %}

{% for child in children %}
    {% if child.get_menu_title != 'Home'  %}
        <li class="
                   {% if child.selected or child.ancestor %} active{% endif %}">
                <a class="page-scroll active"  href="{% if child.selected %} # {% else %} {{ child.get_absolute_url }} {% endif %}">
                    <h4>{{ child.get_menu_title }}</h4>
                </a>
            </li>
    {% endif %}
    {% if class and forloop.last and not forloop.parentloop %}{% endif %}
{% endfor %}
        <li>
            <a href="#contact"><h4>Contact</h4></a>
        </li>
<!-- 
        <li role="presentation" class="dropdown">
            {% include 'user.html' %}
        </li> -->
