{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block css_block %}
    <style>

        #cover {
            -webkit-box-shadow: inset 0 0 200px 70px #white;
            -moz-box-shadow: inset 0 0 200px 70px #white;
            box-shadow: inset 0 0 200px 70px #white;
            margin-top: 80px;
            padding-bottom: 0px;
        }

    </style>
{% endblock %}
{% block content %}
    <section id="cover" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{% page_attribute "page_title" %}</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="content" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    {% placeholder "gallery" %}
                    {% placeholder "content" %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}