{% if user.is_authenticated %}
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <h4> {{ avatar }} {{ user.get_full_name }} <span class="caret"></span></h4>
    </a>
        <ul class="dropdown-menu">
            <li><a href="/users">Profile</a></li>
            <li><a href="/logout_view">Logout</a></li>
        </ul>
{% else %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Sign In
    </button>
{% endif %}