{% load i18n %}
{% load thumbnail %}
<h2>{{ object.title }}</h2>
{% if object.image %}
    {% thumbnail object.image "800x450" crop="center" as im %}
	{% if link %}<a href="{{ link }}">{% endif %}
		<img class="img-responsive" src="{{ im.url }}" alt="{{ object.title }}"/>
	{% if link %}</a>{% endif %}
{% endif %}
{% if object.description %}
<p>{{ object.description }}</p>
{% endif %}
{% if link %}<a href="{{ link }}">{% trans "more" %} &#187;</a>{% endif %}
