{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Traverse Pakistan is your one stop platform for everything related to tourism in Pakistan">
    <meta name="author" content="Traverse Pakistan">
    <meta property="og:title" content="Traverse Pakistan" />
    <meta property="og:image" content="http://www.traversepakistan.com/static/images/socialmedia.png" /> 
    <meta property="og:description" content="Traverse Pakistan is your one stop platform for everything related to tourism in Pakistan" /> 
    <meta property="og:url" content="http://www.traversepakistan.com">
    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Traverse Pakistan" />
    <meta name="twitter:description" content="Traverse Pakistan is your one stop platform for everything related to tourism in Pakistan" />
    <meta name="twitter:image" content="http://www.traversepakistan.com/static/images/socialmedia.png" />
    <title> {% block title %} {% endblock %} </title>
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico"%}"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="{% static "css/scrolling-nav.css" %}" rel="stylesheet">
    {% block css_block %} {% endblock %}
    {% render_block "css" %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% cms_toolbar %}
<!--
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% show_menu 0 1 100 100 "menu.html" %}
                    </ul>
                </div>
            </div>
        </div>
-->
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if request.get_full_path = "/en/" or request.get_full_path = "/en/#page-top" %}
                <a class="navbar-brand page-scroll" href="#page-top">
                    <div></div>
                </a>
            {% else %}
                <a class="navbar-brand page-scroll" href="/#page-top">
                    <div></div>
                </a>
            {% endif %}
            
            
        </div>

        <div class="pills-container">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% show_menu 0 1 100 100 "menu.html" %}
<!--                    {% block navbar_listitems %} {% endblock %}-->
                </ul>
            </div>
        </div>
        
    </div>
</nav>

{% block content %}{% endblock content %}
{% block sections %} {% endblock %}

<!-- Contact Section -->
<section id="contact" class="bg-white">
    <div class="container">
        <div class="text-center row">
            <h1>Follow Us!</h1>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-2">
                <a target="_blank" href="https://www.facebook.com/traversepakistan">
                    <div class="img-div" id="connect-fb"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://twitter.com/traversepak">
                    <div class="img-div" id="connect-tw"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://instagram.com/traversepakistan">
                    <div class="img-div" id="connect-ig"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://www.pinterest.com/traversepak/">
                    <div class="img-div" id="connect-pt"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://plus.google.com/u/0/109713494126508544116/posts">
                    <div class="img-div" id="connect-gp"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://vimeo.com/traversepakistan">
                    <div class="img-div" id="connect-vm"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://www.linkedin.com/company/traverse-pakistan">
                    <div class="img-div" id="connect-li"></div>
                </a>
            </div>
            <div class="col-sm-1">
                <a target="_blank" href="https://www.youtube.com/channel/UC_xB83EQ1neT7YQvkKabMeg">
                    <div class="img-div" id="connect-yt"></div>
                </a>
            </div>
        </div>

    </div>
</section>
<section class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 pull-left">
                <img width="50%" class="hide" alt="Traverse Pakistan" src="{% static "images/socialmedia.png" %}"/>
                <img width="50%" alt="Traverse Pakistan" src="{% static "images/logo_white_text.png" %}"/>
                <br/>
                <small>Copyright &copy; 2015 Traverse Pakistan</small>
            </div>

            <div class="col-sm-8" style="text-align: right;">
                <h4 class="pull-right">info@traversepakistan.com<br/>
                    Explore the unexplored with Traverse Pakistan</h4>
            </div>
        </div>
    </div>
</section>
<!-- jQuery -->
<!--<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
    <script src="{% static "cms/js/libs/jquery.min.js" %}"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="{% static "js/scrolling-nav.js" %}"></script>
<script>
    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });
</script>
{% block script_block %} {% endblock %}
{% render_block "js" %}
</body>

</html>
