{% load i18n %}
<h3>AUTHORS</h3>
<div class="aldryn aldryn-newsblog aldryn-newsblog-authors">
    <ul class="list-unstyled">
        {% for author in authors_list %}
            <li>
                {% include "aldryn_newsblog/includes/author.html" with author_view="true" namespace=instance.app_config.namespace %}
            </li>
        {% empty %}
            <li class="well">{% trans "No items available" %}</li>
        {% endfor %}
    </ul>
</div>
