{% load i18n apphooks_config_tags %}
<h3>TAGS</h3>
<div class="aldryn aldryn-newsblog aldryn-newsblog-tags">
    <ul class="list-unstyled">
        <li{% if not newsblog_tag %} class="active"{% endif %}>
            <a href="{% namespace_url "article-list" namespace=instance.app_config.namespace default='' %}">{% trans "All" %}</a>
        </li>
        {% for tag in tags %}
            <li{% if newsblog_tag.id == tag.id %} class="active"{% endif %}>
                <a href="{% namespace_url "article-list-by-tag" tag.slug namespace=instance.app_config.namespace default='' %}">
                    {{ tag.name }}
                    <span class="badge">{{ tag.article_count }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
