{% extends "base.html" %}
{% load cms_tags i18n %}

{% block content %}
    <div style="margin-top: 120px;" class="aldryn aldryn-people aldryn-group-list">
        {% static_placeholder "people_groups_top" %}
        {% for group in group_list %}
            <h2>{% render_model group 'name' %}</h2>
            {% for person in group.people.all|dictsort:"name" %}
                {% include "aldryn_people/includes/person.html" with person=person %}
            {% endfor %}
        {% endfor %}
        {% if ungrouped_people %}
            <h2>{% trans "Ungrouped" %}</h2>
            {% for person in ungrouped_people %}
                {% include "aldryn_people/includes/person.html" with person=person %}
            {% endfor %}
        {% endif %}
        {% static_placeholder "people_groups_bottom" %}
    </div>
{% endblock content %}
