{% extends "base.html" %}
{% load cms_tags i18n %}

{% block title %}{{ group.name }} - {{ block.super }}{% endblock %}

{% block content %}
    <div style="margin-top: 120px;" class="aldryn aldryn-people aldryn-group-detail">
        {% static_placeholder "people_detail_top" %}
        <h2>{% render_model group "name" %}</h2>
        {% for person in group.people.all|dictsort:"name" %}
            {% include "aldryn_people/includes/person.html" with person=person %}
        {% endfor %}
        {% static_placeholder "people_detail_bottom" %}
    </div>
{% endblock content %}
