{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Places {% endblock %}

{% block css_block %}
    <style>

        #place_title {
            margin-top: 120px;
        }

        .square {
            padding-bottom: 100%;
        }

        .place-thumbnail {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .grid-item {
            min-width: 200px;
            width: 30%;
            margin: 1%;
            float: left;
        }

        #cover {
            -webkit-box-shadow: inset 0 0 200px 70px #2c3d51;
            -moz-box-shadow: inset 0 0 200px 70px #2c3d51;
            box-shadow: inset 0 0 200px 70px #2c3d51;
        }

    </style>
{% endblock %}

{% block homelink_block %}
    <a class="navbar-brand page-scroll" href="/#page-top">
        <div></div>
    </a>
{% endblock %}
 
{% block sections %}
    <!-- Intro Section -->
    <section id="cover" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="white place-title" id="place_title">Browse through Pakistan</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Intro Section -->
    <section id="category-section" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="grid js-masonry"
                         data-masonry-options='{ "itemSelector": ".grid-item", "columWidth": ".grid-sizer", "percentPosition": "true" }'>
                        {% for category in categories %}
                            <div class="grid-item">
                                {% with "images/category_tiles/"|add:category.name|add:".jpg" as cover %}
                                    <a href="/places/browse/any/{{ category.name }}">
                                        <div>
                                            <div class="square place-thumbnail"
                                                 style="background-image: url({% static cover %});"></div>
                                            <h3 class="text-center">{{ category.title }}</h3>
                                        </div>
                                    </a>
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                </div>
            </div>
        </div>
    </section>

    <section id="region-section" class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="grid js-masonry"
                         data-masonry-options='{ "itemSelector": ".grid-item", "columWidth": ".grid-sizer", "percentPosition": "true" }'>
                        {% for region in regions %}
                            <div class="grid-item">
                                {% with "images/region_tiles/"|add:region.name|add:".jpg" as cover %}
                                    <a href="/places/browse/{{ region.name }}/any">
                                        <div>
                                            <div class="square place-thumbnail"
                                                 style="background-image: url({% static cover %});"></div>
                                        </div>
                                    </a>
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script_block %}
    <script src="{% static "js/best-bg-ever.js" %}"></script>
    <script>
        $(function () {
            var urlArray = [];
            {% for category in categories %}
                {% with "images/category_tiles/"|add:category.name|add:".jpg" as cover %}
                    urlArray.push("{% static cover %}");
                {% endwith %}
            {% endfor %}

            best_bg_ever(urlArray, $("#cover"));
        });
    </script>
{% endblock %}